{:blocks (
{:block/created-at 1702890412058
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a005c280-9d84-11ee-a979-0bdb38358102"
:noFill true
:point [800.2524627685547 479.5673698425293]
:parentId "65800aa2-87de-4136-937a-360d33f052a5"
:nonce 1702890344107
:isComplete true}}
:block/updated-at 1702890412058})
:pages (
{:block/uuid #uuid "65800aa2-87de-4136-937a-360d33f052a5"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "65800aa2-87de-4136-937a-360d33f052a5"
:name "practice"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("a005c280-9d84-11ee-a979-0bdb38358102")}}
:block/updated-at 1702890417177
:block/created-at 1702890146639
:block/type "whiteboard"
:block/name "practice"
:block/original-name "Practice"})}